<!-- https://docs.djangoproject.com/en/4.2/topics/forms/ -->
<!-- <form method="post" action="/vacancy/{{vacancy.id}}/application/" class="card mt-4 mb-3" enctype="multipart/form-data"> -->
<!-- https://docs.djangoproject.com/en/4.2/topics/forms/ -->
<form method="post" action="/vacancy/{{vacancy.id}}/" class="card mt-4 mb-3" enctype="multipart/form-data"> 
  {% csrf_token %}
    <div class="card-body mx-3">
      <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
      {% for field in form %}
      
        <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </div>
        
      {% endfor %}
      <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить заявку</button>
    </div>
  </form>